doctype html
html.no-js(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="../img/icons/icon-eye.ico" type="image/x-icon")
		meta(name="robots", content="all")
		link(rel="stylesheet", href="../css/main.css")
		title Blink - упражнения для глаз
	body
		header
			nav.cd-stretchy-nav.cd-stretchy-nav-recom-s#main-nav
				a.cd-nav-trigger(href="#0")
					span(aria-hidden="true")
				ul
					li
						a(href="../index.html")
							span Главная
					li
						a.active(href="#0")
							span Рекомендации
					li
						a(href="blink.html")
							span Начать упражнения
					li
						a(href="tables.html")
							span Проверочные таблицы
				span.stretchy-nav-bg(aria-hidden="true")
		main
			.container-fluid.cont-background
				.container
					.row
						.col-sm-12.recom-s
							h2 Рекомендации
							p Перенапряжение глаз в процессе работы за компьютером может привести не только к их покраснению и сухости, но и к потере остроты зрения. Вы можете снять напряжение и усталость, а также укрепить глазные мышцы с помощью специальных комплексов упражнений и гимнастики для глаз.
							h4 Советы
							ul
								li
									a(href="blink.html") Цикл упражнений
									|&nbsp;лучше выполнять утром и вечером (перед работой и после работы)
								li За один раз не следует делать много повторений
								li В случае ощущения дискомфорта нужно прекратить выполнение упражнений
							h4 Упражнения для глаз
							ul
								li Вверх и вниз - двигайте глазами снизу вверх и сверху вниз
								li Влево и вправо - двигайте глазами слева направо и наоборот
								li Бабочка - легко мигайте газами
								li Движение по диагонали с правого верхнего угла в левый нижний
								li Движение по диагонали с левого верхнего угла в правый нижний
								li Бабочка - легко мигайте газами
								li Движение по квадрату против часовой стрелки
								li Бабочка - легко мигайте газами
								li Движение по квадрату по часовой стрелке
								li Бабочка - легко мигайте газами
								li Вращение по кругу против часовой стрелки
								li Вращение по кругу по часовой стрелке
								li Бабочка - легко мигайте газами
								li Змейка - движение по линейным траекториям
								li Пальминг - закрыть глаза и на несколько минут плотно прикрыть их ладонями
							p После выполнения движений следует делать упражнение «Бабочка»:
								br
								| Это упражнение на расслабление мышц глаза. По сути это обычное моргание. Моргать нужно не только часто, но и очень мягко, легко, не напрягаясь, как, будто крылья бабочки.
								br
								br
								| После выполнения комплекса упражнений следует сделать
								a(href="http://seeactive.by/methods/beits-palming.html" target="_blank") &nbsp;«Пальминг»:
								br
								| Закрыть глаза и на несколько минут плотно прикрыть их ладонями. В результате глаза расслабятся.
							button(onclick="location.href='blink.html'") Перейти к упражнениям
			script(src="../js/main.js")
