.cont-background {
	background-image: url(../img/recoms.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.recom-s {
	font-size: 20px;
	line-height: 33px;
	padding-top: 10vh;
	p {
		text-align: justify;
	}
	button {
		background-color: transparent;
		border: 2px solid #FFF;
		color: #FFF;
		cursor: pointer;
		font-size: 16px;
		left: 50%;
		letter-spacing: 8px;
		margin: 10vh 0;
		outline: none;
		padding: 15px 50px;
		position: relative;
		text-transform: uppercase;
		transform: translate(-50%, 0%);
		transition: all 0.5s linear;
		&:hover {
			color: #494949;
			background: #FFF;
		}
		&:focus {
			color: #494949;
			background: #FFF;
		}
		&:active {
			color: #494949;
			background: #FFF;
		}
	}
	h2 {
		line-height: 60px;
		margin: 0;
		padding-bottom: 5%;
		text-align: center;
	}
	h4 {
		margin: 0;
		padding: 2vh 0;
	}
	ul {
		list-style-type: none;
		margin-bottom: 2vh;
		li {
			border-left: 5px solid rgba(133,176,125, 1);
			margin: 10px;
			padding-left: 20px;
		}
	}
	a {
		text-decoration: none;
	}
}

.cd-stretchy-nav-recom-s {
	ul {
		span {
			background-color: rgba(133,176,125, 1);
			margin: 5px 0;
			padding: 0 15px;
			text-align: center;
		}
		a {
			color: rgba(255, 255, 255, 0.8);
		}
		a.active {
			color: rgba(255, 255, 255, 1) !important;
		}
	}
}

@media screen and (min-width: 1px) and (max-width: 1400px) {
.recom-s {
	font-size: 16px;
	line-height: 29px;
		button {
		font-size: 14px;
		}
		ul {
			padding-left: 10px;
		}
	}
}
