doctype html
html(lang="en")
	head(lang="en")
		meta(charset="UTF-8")
		title Blink
		meta(name="description" content="Blink - exercises to relieve eye fatigue")
		meta(name="keywords" content="Eye, exercise, fatigue, health")
		meta(name="viewport" content="height=device-height,width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link(rel="icon" type="imge/png" href="")
		link(rel="stylesheet" type="text/css" href="../css/main.css")
	body
		.container-fluid
			.row
				.col-sm-12.main-cont#gradient
					button.btn#startanim Начать
					button.btn-end.btn-end-hide#tomain(onclick="location.href='../index.html'", type="button") На главную
					#anim-main
						#anim-circle
		script(src="../js/jquery.js")
		script(src="../js/main.js")