// Диаметр окружнотси для страницы "Блинк"
$diameter: 5vh;

// Контейнер для заднего фона страницы "Блинк"
#gradient {
	background: #836997;
}

// Контейнер с таймером
.timer-cont {
	background-color: transparent;
	font-size: 40px;
	height: 50px;
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -250%);
	transition: opacity 1.5s ease-in-out;
	width: 50px;
	z-index: 1;
	span {
		color: rgba(255, 255, 255, 0.7);
		display: block;
		height: 100%;
		text-align: center;
		width: 100%;
	}
}

// Контейнер с подсказкой
.tooltip {
	color: #363636;
	width: 100vw;
	padding: 20px 40px;
	line-height: 25px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
	transition: all 0.3s;
	p {
		margin: 0;
	}
	a {
		text-decoration: none;
	}
}

.tooltip-hide {
	left: -100vw;
}

// Главный контейнер; 100% высоты и ширины вьюпорта
.main-cont {
	height: 100vh;
	overflow: hidden;
	padding: 0;
	width: 100vw;
}

// Контейнер (100% вьюпорта) для окружности
.linear-cont {
	backface-visibility: hidden;
	background-color: transparent;
	height: 100vh;
	left: 0%;
	overflow: visible;
	perspective: 1000;
	position: absolute;
	top: 0%;
	transform: transale3d(0,0,0);
	width: 100vw;
}

// Окружность; выровнена по центру вьюпорта
.main-circle {
	background-color: rgba(229, 229, 229, 1);
	border-radius: 50%;
	height: $diameter;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: $diameter;
}

.main-circle-hide {
	opacity: 0;
	transition: opacity 1.5s ease-in-out;
}

// Окружность; выравнивается по верхнему краю вьюпорта
.orbit-circle {
	@extend .main-circle;
	// Анимация для перемещения окружности вверх перед началом круговой анимации и вниз - после завершения
	animation: orbit-clockwise-help 2s linear 1s normal forwards running,
						 orbit-counterclock-wise-help 2s linear 36s reverse forwards running;
	}

// Окружность; выравнивается по верхнему краю вьюпорта, если высота вьюпорта больше его ширины
.orbit-circle-4x3 {
	@extend .main-circle;
	// Анимация для перемещения окружности вверх перед началом круговой анимации и вниз - после завершения
	animation: orbit-clockwise-help-4x3 2s linear 1s normal forwards running,
						 orbit-counterclock-wise-help-4x3 2s linear 36s reverse forwards running;
	}

@media screen and (max-width: 768px) {
	.tooltip {
		padding: 5px 20px;
		line-height: 20px;
		font-size: 14px;
		p {
			margin: 0;
		}
		a {
			text-decoration: none;
		}
	}
}

@media screen and (min-width: 1px) and (max-width: 1083px) {
	.timer-cont {
		font-size: 30px;
	}
}

@media screen and (min-width: 1084px) and (max-width: 1643px) {
	.timer-cont {
		font-size: 35px;
	}
}

	@media screen and (min-width: 1644px) and (max-width: 3008px) {
		.timer-cont {
			font-size: 40px;
		}
}
