// Кнопка "Начать"
.btn {
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	background-color: transparent;
	cursor: pointer;
	padding: 15px 50px;
	display: inline-block;
	letter-spacing: 8px;
	outline: none;
	transition: all 0.5s linear;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #FFFFFF;
	color: #fff;
	&:hover {
		color: #494949;
		background: #FFFFFF;
	}
	&:active {
		color: #494949;
		background: #FFFFFF;
	}
	&:focus {
		color: #494949;
		background: #FFFFFF;
	}
}

// Кнопка "На главную"
.btn-end {
	@extend .btn;
}

@media screen and (min-width: 1px) and (max-width: 1400px) {
	.btn, .btn-end {
		font-size: 16px;
		padding: 15px 30px;
		letter-spacing: 6px;
	}
}

// Скрытие кнопки запуска "Начать"
.btn-hide {
	visibility: hidden;
	opacity: 0;
	top: -50%;
}

// Открытие кнопки "На главную"
.btn-end-hide {
		visibility: hidden;
		opacity: 0;
}
.btn-end-show {
	visibility: visible;
	opacity: 1;
}