input {
	padding: 0;
	border: none;
	position: absolute;
	width: 100%;
	height: 100%;
	mix-blend-mode: hue;
	cursor: pointer;
}

::-webkit-color-swatch {
	border: none;
}

::-webkit-color-swatch-wrapper {
	padding: 0;
}

::-moz-color-swatch {
	border: none;
}

::-moz-focus-inner {
	border: none;
	padding: 0;
}