// Главный контейнер; 100% высоты и ширины вьюпорта
.main-cont {
	background-color: #FFE0B2;
	height: 100vh;
	width: 100vw;
	padding: 0;
	// Включение аппаратного ускорения (наверное)
	transform: translateZ(0);
	overflow: hidden;
}

// Контейнер (100% вьюпорта) для окружности
.linear-cont {
	// background-color: #FFE0B2;
	background-color: transparent;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0%;
	left: 0%;
}

// Контейнер для таймера с кнопкой
.main-timer {
	background-color: #50AA53;
	width: 200px;
	height: 70px;
	position: absolute;
	top: 10%;
	left: calc(50% - 200px / 2);
	text-align: center;
	font-size: 20px;
	transition: all 1s linear;
	opacity: 1;
	visibility: visible;
}

// Скрытие контейнера таймера с кнопкой
.main-timer-hide {
	visibility: hidden;
	opacity: 0;
}

// Окружность; выровнена по центру вьюпорта
.main-circle {
	background-color: #E57373;
	border-radius: 50%;
	height: $diameter;
	width: $diameter;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// transition: border-radius 1.5s;
}

// Окружность; выравнивается по верхнему краю вьюпорта
.orbit-circle {
	@extend .main-circle;
	// Анимация для перемещения окружности вверх перед началом круговой анимации и вниз - после завершения
	animation: orbit-clockwise-help 2s linear 1s normal forwards running,
						 orbit-counterclock-wise-help 2s linear 36s reverse forwards running;
	}