.btn {
	// border-radius: 5px;
	font-size: 20px;
	text-align: center;
	background-color: transparent;
	cursor: pointer;
	padding: 15px 50px;
	display: inline-block;
	// text-transform: uppercase;
	letter-spacing: 8px;
	// font-weight: 700;
	outline: none;
	transition: all 0.4s ease;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
	border: 2px solid #FFFFFF;
	color: #fff;
	&:hover {
		color: #494949;
		background: #FFFFFF;
	}
	&:active {
		color: #494949;
		background: #FFFFFF;
	}
	&:focus {
		color: #494949;
		background: #FFFFFF;
	}
}