doctype html
html.no-js(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="robots", content="all")
		meta(name="description" lang="ru" content="Перенапряжение глаз в процессе работы за компьютером может привести не только к их покраснению и сухости, но и к потере остроты зрения. Вы можете снять напряжение и усталость, а также укрепить глазные мышцы с помощью комплексов упражнений и гимнастики для глаз. Данный сайт поможет сделать это правильно.")
		meta(name="keywords" lang="ru" content="Глаза, упражнения для глаз, зрение, перенапряжение глаз, усталость глаз, глазные мышцы")
		link(rel="stylesheet", href="css/main.css")
		title Blink - упражнения для глаз
	body
		header
			nav.cd-stretchy-nav#main-nav
				a.cd-nav-trigger(href="#0")
					span(aria-hidden="true")
				ul
					li
						a.active(href="#0")
							span Главная
					li
						a(href="template/recommendations.html")
							span Рекомендации
					li
						a(href="template/blink.html")
							span Начать упражнения
					li
						a(href="template/tables.html")
							span Проверочные таблицы
					li
						a(href="#0")
							span Контакты
				span.stretchy-nav-bg(aria-hidden="true")
		main.cd-main-content
		script(src="js/main.js")