doctype html
html(lang="en")
	head(lang="en")
		meta(charset="UTF-8")
		title Blink
		meta(name="description" content="Blink - exercises to relieve eye fatigue")
		meta(name="keywords" content="Eye, exercise, fatigue, health")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link(rel="icon" type="imge/png" href="")
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		.container-fluid
			.row
				.col-sm-12.main-cont
					#timer-cont.main-timer
						button.button#startanim Start
						br
						span#timer
					.matanimation
					#anim-main.linear-cont.circle-orbit-clockwise
						#anim-circle.orbit-circle
		script(src="js/main.js")