doctype html
html.no-js(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/main.css")
		script(src="js/modernizr.js")
		title Stretchy Navigation | CodyHouse
	body
		header
			nav.cd-stretchy-nav
				a.cd-nav-trigger(href="#0")
					span(aria-hidden="true")
				ul
					li
						a.active(href="#0")
							span Главная
					li
						a(href="#0")
							span Рекомендации
					li
						a(href="template/blink.html")
							span Начать упражнения
					li
						a(href="#0")
							span Проверочные таблицы
					li
						a(href="#0")
							span Контакты
				span.stretchy-nav-bg(aria-hidden="true")
		main.cd-main-content
		#startanim
		script(src="js/jquery.js")
		script(src="js/main.js")